<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Enter new listing</h1>
    <form method="post" action="/chats">
        <label for="from">From</label>
        <input type="text" name="from" placeholder="Enter sender name">
        <br><br><br>
        <label for="from">To</label>
        <input type="text" name="to" placeholder="Enter reciever name">
        <br><br><br>
        <label for="from">Message</label>
        <textarea name="msg" id="" placeholder="Enter your message"></textarea> 
        <button>Submit</button>
    </form>
</body>
</html>